.cabinet {
  margin: 0;
  margin-bottom: 45px;
  padding: 0;
  padding-top: 30px;
  @extend %clearfix;
}
.cabinet__left {
  float: left;
  width: 789px;
  background-color: #fefefe;
  border-left: 1px solid #f7f7f7;
}

@import 'cabinet-posts';

.cabinet__right {
  float: right;
  width: 230px;
}
