.step-edit {
  margin: 0;
  padding: 0;
}

.step-edit__form {
  margin: 0;
  padding: 0;
  @extend %clearfix;
}

.step-edit__img-box {
  float: left;
  width: 260px;
  height: 200px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: #f6f6f6;
}

.step-edit__img-box-bg {
  position: relative;
  width: 260px;
  height: 200px;
  background-color: #ffffff;
  border: 1px solid transparent;
}

.step-edit__img-wrapper {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 240px;
  max-height: 140px;
  padding: 0;
  text-align: center;
  transform: translate(-50%,-50%);
}

.step-edit__img {
  display: inline-block;
  vertical-align: center;
  max-width: 240px;
  max-height: 140px;
  margin: 0;
  padding: 0;
}

.step-edit__scale {
  float: right;
}

.step-edit__scale-box {
  width: 190px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: #fcfcfc;
}

.step-edit__list {
  margin: 0;
  padding: 0;
  font-size: 0;
}

.step-edit__item {
  display: inline-block;
  width: 50px;
  margin: 0;
  margin-left: 15px;
  margin-bottom: 10px;
  padding: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
  line-height: 11px;
  @include roboto(medium);
  text-align: center;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  background-color: #ffffff;
  cursor: pointer;

  &:nth-child(3n+1) {
    margin-left: 0;
  }
}

.step-edit__item--bg {
  background-color: #ffd3d3;
}
